container_commands:
  01_collectstatic:
    command: "source $PYTHONPATH/activate && python3 manage.py collectstatic --noinput"
  02_migrate:
    command: "source $PYTHONPATH/activate && python3 manage.py migrate"
    leader_only: true
  03_initial_data:
    command: "source $PYTHONPATH/activate && python3 manage.py loaddata backend/fixtures/initial_data.json"
    leader_only: true
  04_create_sns:
    command: "source $PYTHONPATH/activate && python3 manage.py create_sns --settings config.settings.production"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings.production
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static