container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"
  02_migrate:
    command: "python manage.py migrate"
    leader_only: true
  03_initial_data:
    command: "python manage.py loaddata backend/fixtures/initial_data.json"
    leader_only: true
  04_create_sns:
    command: "python manage.py create_sns --settings config.settings.production"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
      DJANGO_SETTINGS_MODULE: config.settings.production
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: "static/"
